.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-content: center;
}

.img-galeria {
    width: 300px;
    height: auto;
}

.img-galeria:hover {
    opacity: 0.5;
}